body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    height: 100vh;
    width: 100%;
}
header{
    background-color: red;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: none;
}
.headhead{
    font-size: 1rem;
    color:wheat;
    border: 3px;
    border-style: ridge;
    margin: 10px;
}
nav{
    z-index: 1000;
    position: absolute;
    top: 130px;
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    font-size: 1rem;
}
.knapp{
    border-radius: 10px 10px 0px 0px;
    position: relative;
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.knapp i.material-icons{
    font-size: 2rem;
    
}
.amenu{
    position: relative;
    background: white;
    height: 100px;
    width: 100%;
    display: none;
    overflow: hidden;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
}
.amenuactivate{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
.nav_link{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background: white;
}
main{
    height: 500vh;
    background-image: url(../../misc/maxresdefault.jpg);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.countdown{
    color: wheat;
    position: relative;
    top: 40px;
    width: 80%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countdownbox{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-style: ridge;
    border-color: wheat;
}
p{
    border-bottom: solid;
    border-color: wheat;
    
}
.merch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.box{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7rem;
    height: 200px;
    width: 150px;
    background-image: url(../../misc/wteeu_white_tee_front_1_mobile_size.png);
    background-position: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.buybox{
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: red;
}
a{
    text-decoration: none;
}
.knapp2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed; 
    top: 200px;
    left: 0;
    border-radius: 0 10px 10px 0;
    font-size: 3rem;
}
.knapp2 i.material-icons{
    font-size: 3rem;
    
}
.menu22{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed; 
    top: 250px;
    height: 100px;
    left: -500px;
    border-radius: 0 10px 10px 0;
    transition: left 1s;
    z-index: 1000;
    margin-left: -10px;
}
.menu2activate{
    left: 0;
}
.omjultext{
    color: white;
    border-radius: 20px;
    position: relative;
    top:50px;
    width: 70%;
}
.fullcountdownbox{
    display: none;
}
.otext{
    display: none;
}
@media only screen  and (min-width : 1224px) {
    .amenu{
        height: 140px;
    }
    .nav_link{
        height: 70px;
    }
    .knapp{
        width: 400px;
        height: 70px;
    }
    .otext{
        display: block;
        border-bottom: solid;
    }
    #demo{
        display: flex;  
        justify-content: center;
        align-content: center;
    }
    .fullcountdownbox{
        display: flex;
        justify-content: center;
        align-content: center;
        border-bottom: solid;
        margin: 50px 0px 50px 0px;
    }
    p{
        display: none;
    }
    .countdown{
        color: wheat;
        position: relative;
        top: 100px;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
    }
    .countdownbox{
        border: solid;
        display: none;
    }
    .merch{
        position: relative;
        top: 50px;
    }
    .box{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
        height: 500px;
        width: 450px;
        background-image: url(../../misc/wteeu_white_tee_front_1.png);
        
    }
    .buybox{
        font-size: 2rem;
        position: absolute;
        bottom: -10px;
        color: white;
        background-color: red;
        
    }
    .headhead{
        font-size: 1.5rem;
    }
    header{
        height: 200px;
    }
    nav{
        z-index: 1000;
        position: absolute;
        top: 180px;
        height: 220px;
        width: 400px;
        display: flex;
        align-items: center; 
        flex-direction: column;
        font-size: 2rem;
    }
    .knapp2{
        top: 300px;
    }
    .knapp2 i.material-icons{
        font-size: 5rem;
    }
    .knapp i.material-icons{
        font-size: 3rem;
    }
    .menu22{
        top: 450px;
        font-size: 2rem;
        margin-left: 0;
        height: 200px;
    }
    .knapp:hover{
        color: white;
        background-color: black;
    }
    .nav_link:hover{
        color:white;
        background-color: black;
    }

}