body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    height: 100vh;
    width: 100vw;
}
header{
    background-color: red;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: none;
}
.headhead{
    font-size: 1rem;
    color:wheat;
    border: 3px;
    border-style: ridge;
    margin: 10px;
}
nav{
    z-index: 1000;
    position: absolute;
    top: 130px;
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    font-size: 1rem;
}
.knapp{
    border-radius: 10px 10px 0px 0px;
    position: relative;
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.knapp i.material-icons{
    font-size: 2rem;
    
}
.amenu{
    position: relative;
    background: white;
    height: 100px;
    width: 100%;
    display: none;
    overflow: hidden;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    transition: 0.3s;
    /* bottom: 200px; */
}
.amenuactivate{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
.nav_link{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background: white;
}
main{
    height: 500vh;
    background-image: url(../../misc/maxresdefault.jpg);
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.countdown{
    color: wheat;
    position: relative;
    top: 40px;
    width: 80%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countdownbox{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-style: ridge;
    border-color: wheat;
}
p{
    border-bottom: solid;
    border-color: wheat;
    
}
.merch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.box{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    height: 200px;
    width: 150px;
    background-image: url(../../misc/wteeu_white_tee_front_1_mobile_size.png);
    background-position: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.buybox{
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: red;
}
a{
    text-decoration: none;
}
.knapp2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed; 
    top: 200px;
    left: 0;
    border-radius: 0 10px 10px 0;
    font-size: 3rem;
}
.knapp2 i.material-icons{
    font-size: 3rem;
    
}

.menu22{
    align-items: center;
    background-color: white;
    position: fixed; 
    top: 250px;
    height: 100px;
    left: -500px;
    border-radius: 0 10px 10px 0;
    transition: right 2s;
    z-index: 1000;
}
.menu2activate{
    left: 0;
}
.omjultext{
    color: white;
    border-radius: 20px;
    position: relative;
    top:50px;
    width: 70%;
}